<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harun.al.rosyid.eskripsi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.tugasAkhir.TugasAkhirLoad"/>
        <activity android:name=".ui.bimbingan.BimbinganLoad"/>
        <activity android:name=".ui.tugasAkhir.TugasAkhirDetailActivity"></activity>
        <activity android:name=".ui.bimbingan.BimbinganDetailActivity" />
        <activity android:name=".ui.tugasAkhir.TugasAkhirReadActivity" />
        <activity android:name=".ui.bimbingan.BimbinganReadActivity" />
        <activity android:name=".ui.tugasAkhir.TugasAkhirCreatectivity" />
        <activity android:name=".ui.bimbingan.BimbinganCreateActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".auth.ResetActivity" />
        <activity
            android:name=".main.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>